img {
  max-width: 100%;
  vertical-align: top;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
}
#linea {
  display: flex;
  align-items: center;
}
#credit {
  color: orange;
  font-size: 1.5em;
}
#money {
  font-size: 1.5em;
  line-height: 70px;
}
#euro {
  font-size: 1.5em;
}

#throw {
  width: 180px;
  height: 180px;
  background-color: orangered;
  border-radius: 50%;
  border: 5px solid orchid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
  user-select: none;
  cursor: pointer;
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
}

header {
  position: relative;
  height: 195px;
}

#windows {
  display: flex;
  justify-content: space-around;
}
.window {
  width: 205px;
}
.image {
  width: 75%;
  margin: auto;
}
.button {
  border: 4px solid crimson;
  border-radius: 10px;
  text-align: center;
}

.images {
  width: 20px;
  margin: auto;
}
